.task-col:not(first-child) {
    margin-left: -3px;
}
.ibox {
    background-color: white;
    min-height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 13px;
    border-radius: 5px;
}

.ibox a {
    color: #0b0b0b;
}
.ibox a:hover{

}
.ibox > header {
    margin-bottom: 10px;
    cursor: move;
    cursor: grab;
}

span.stat {
    margin-left: 10px;
}
span.prio,
span.stat {
    text-transform: capitalize;
}
.invalid-feedback {
    display: block;
}
